{
    "presets": [
        "env",
        "stage-1",
        "react"
    ],
    "env": {
      "developement": {},
      "production": {
        "plugins": [
          "syntax-dynamic-import"
        ]
      }
    }

}
